<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hellocat.mapper.productMapper">
	<select id="selectPdMain" resultType="com.hellocat.dto.ProductDtoForStore">
		<![CDATA[
			select (SELECT TRUNC(AVG(score),2) FROM review r WHERE r.pd_id=a.id) score,
			(SELECT count(*) FROM review r WHERE r.pd_id=a.id) cnt, a.*
			from (select ROWNUM RNUM, b.* from (SELECT * FROM product ORDER BY sales DESC) b )a
			where a.RNUM>=1 and a.RNUM<=6
		]]>
	</select>
	<select id="selectPdToy" resultType="com.hellocat.dto.ProductDtoForStore">
		<![CDATA[
			select (SELECT TRUNC(AVG(score),2) FROM review r WHERE r.pd_id=a.id) score,
			(SELECT count(*) FROM review r WHERE r.pd_id=a.id) cnt, a.*
			from (select ROWNUM RNUM, b.* from (SELECT * FROM product WHERE id like '%toy%' ORDER BY sales DESC) b )a
			WHERE a.RNUM>=1 AND a.RNUM<=6
		]]>
	</select>
	<select id="selectPdToyNew" resultType="com.hellocat.dto.ProductDtoForStore">
		<![CDATA[
			select (SELECT TRUNC(AVG(score),2) FROM review r WHERE r.pd_id=a.id) score,
			(SELECT count(*) FROM review r WHERE r.pd_id=a.id) cnt, a.*
			from (select ROWNUM RNUM, b.* from (SELECT * FROM product WHERE id like '%toy%' ORDER BY id DESC) b )a
			WHERE a.RNUM>=1 AND a.RNUM<=6
		]]>
	</select>
	<select id="selectPdFood" resultType="com.hellocat.dto.ProductDtoForStore">
		<![CDATA[
			select (SELECT TRUNC(AVG(score),2) FROM review r WHERE r.pd_id=a.id) score,
			(SELECT count(*) FROM review r WHERE r.pd_id=a.id) cnt, a.*
			from (select ROWNUM RNUM, b.* from (SELECT * FROM product WHERE id like '%food%' ORDER BY sales DESC) b )a
			WHERE a.RNUM>=1 AND a.RNUM<=6
		]]>
	</select>
	<select id="selectPdFoodNew" resultType="com.hellocat.dto.ProductDtoForStore">
		<![CDATA[
			select (SELECT TRUNC(AVG(score),2) FROM review r WHERE r.pd_id=a.id) score,
			(SELECT count(*) FROM review r WHERE r.pd_id=a.id) cnt, a.*
			from (select ROWNUM RNUM, b.* from (SELECT * FROM product WHERE id like '%food%' ORDER BY id DESC) b )a
			WHERE a.RNUM>=1 AND a.RNUM<=6
		]]>
	</select>
	<select id="selectPdGoods" resultType="com.hellocat.dto.ProductDtoForStore">
		<![CDATA[
			select (SELECT TRUNC(AVG(score),2) FROM review r WHERE r.pd_id=a.id) score,
			(SELECT count(*) FROM review r WHERE r.pd_id=a.id) cnt, a.*
			from (select ROWNUM RNUM, b.* from (SELECT * FROM product WHERE id like '%etc%' ORDER BY sales DESC) b )a
			WHERE a.RNUM>=1 AND a.RNUM<=6
		]]>
	</select>
	<select id="selectPdGoodsNew" resultType="com.hellocat.dto.ProductDtoForStore">
		<![CDATA[
			select (SELECT TRUNC(AVG(score),2) FROM review r WHERE r.pd_id=a.id) score,
			(SELECT count(*) FROM review r WHERE r.pd_id=a.id) cnt, a.*
			from (select ROWNUM RNUM, b.* from (SELECT * FROM product WHERE id like '%etc%' ORDER BY id DESC) b )a
			WHERE a.RNUM>=1 AND a.RNUM<=6
		]]>
	</select>
	<select id="selectOnePd" resultType="com.hellocat.dto.ProductDtoForDetail">
		SELECT (SELECT TRUNC(AVG(score),2) FROM review r WHERE r.pd_id=p.id) score, p.* FROM
		(SELECT * FROM product WHERE id=#{id})p
	</select>
	<select id="selectPd_infinite" resultType="com.hellocat.dto.ProductDtoForStore">
		<![CDATA[
			select (SELECT TRUNC(AVG(score),2) FROM review r WHERE r.pd_id=a.id) score,
			(SELECT count(*) FROM review r WHERE r.pd_id=a.id) cnt, a.*
			from (select ROWNUM RNUM, b.* from (SELECT * FROM product WHERE id like '%#{sort}%' ORDER BY #{salesOrId} DESC) b )a
			WHERE a.RNUM>=#{start} AND a.RNUM<=#{end}
		]]>
	</select>
</mapper>